.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

 mat-slide-toggle{
   background: rgb(244, 244, 247);
 }

 input{
    color: black;
 }
 mat-select{
    background-color: black;
    color: black;
 }
 mat-form-field{
    background-color: rgb(15, 28, 41);
    color: black;

 }